<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title (click)="logout()">
      IFinaças na área!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
 <ion-item>
    <ion-label>Mês</ion-label>
    <ion-datetime displayFormat="MM/YYYY" pickerFormat="MMMM YYYY" [(ngModel)]="date"(ngModelChange)="atualizaContas()"></ion-datetime>
  </ion-item>

  <dash-card titulo="Contas a Receber" icone="arrow-down" valor={{conta.pagar.valor}} cor="primary" num={{conta.pagar.num}}></dash-card>
  <dash-card titulo="Contas a Pagar" icone="arrow-up" valor={{conta.receber.valor}} cor="danger" num={{conta.receber.num}}></dash-card>
  <dash-card titulo="Saldo" icone="wallet" valor="600,00" cor="primary" num="5"></dash-card>
  <div id="btnMenu">
    <ion-button [routerLink]="['/contas/pagar']" fill="outline" expand="block">Contas a Pagar</ion-button>
    <ion-button [routerLink]="['/contas/receber']" fill="outline" expand="block">Contas a Receber</ion-button>
  </div>
</ion-content>