<ion-header>
  <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
  <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css"/>
  <ion-toolbar>
    <ion-title>Nova Conta</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="contasForm" (submit)="registraConta()">
    <ion-item>
      <ion-icon name='person' color='button' slot='start'></ion-icon>
      <ion-input formControlName='parceiro' placeholder='Parceiro Comercial' autfocus='true'></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name='document' color='button' slot='start'></ion-icon>
      <ion-input formControlName='descricao' placeholder='Descrição'></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name='wallet' color='button' slot='start'></ion-icon>
      <ion-input formControlName='valor' type='number' placeholder='Valor'></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Vencimento</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MMMM YYYY" [(ngModel)]="date"></ion-datetime>
    </ion-item><br>

    <ion-radio-group>
      <ion-item>
        <ion-label>A pagar</ion-label>
        <ion-radio slot='start' value='pagar'></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>A receber</ion-label>
        <ion-radio slot='start' value='receber'></ion-radio>
      </ion-item>
    </ion-radio-group>
    <ion-button [disabled]='contasForm.invalid' type='submit' expand='block' color='button'>Enviar</ion-button>
  </form>
</ion-content>